Examples/NodeREDExamples1.txt
[{"id":"e0f3ff8e.9c9c7","type":"debug","z":"33ed1960.36ce06","name":"Output","active":true,"console":"false","complete":"payload","x":950,"y":320,"wires":[]},{"id":"a83396c.33ec068","type":"debug","z":"33ed1960.36ce06","name":"2nd Output","active":true,"console":"false","complete":"payload","x":970,"y":400,"wires":[]},{"id":"755001ae.79ffa","type":"debug","z":"33ed1960.36ce06","name":"3rd Output","active":true,"console":"false","complete":"payload","x":970,"y":480,"wires":[]},{"id":"43df442f.b0893c","type":"function","z":"33ed1960.36ce06","name":"Array","func":"var msg1 = { payload:\"first message\" };\nvar msg2 = { payload:\"second message\" };\nvar msg3 = { payload:\"third message\" };\nvar msg4 = { payload:\"fourth message\" };\nreturn [msg1, msg2, msg3, msg4];","outputs":1,"noerr":0,"x":450,"y":220,"wires":[["e0f3ff8e.9c9c7"]]},{"id":"59d58c84.7bf1b4","type":"function","z":"33ed1960.36ce06","name":"Array in Array","func":"var msg1 = { payload:\"first message\" };\nvar msg2 = { payload:\"second message\" };\nvar msg3 = { payload:\"third message\" };\nvar msg4 = { payload:\"fourth message\" };\nreturn [[msg1, msg2, msg3, msg4]]","outputs":1,"noerr":0,"x":420,"y":260,"wires":[["e0f3ff8e.9c9c7"]]},{"id":"5c68904e.aee6d","type":"function","z":"33ed1960.36ce06","name":"Multiple returns","func":"var msg1 = { payload:\"first message\" };\nvar msg2 = { payload:\"second message\" };\nvar msg3 = { payload:\"third message\" };\nvar msg4 = { payload:\"fourth message\" };\nreturn [msg1, msg2, msg3, msg4];\n","outputs":"3","noerr":0,"x":420,"y":340,"wires":[["e0f3ff8e.9c9c7"],["a83396c.33ec068"],["755001ae.79ffa"]]},{"id":"6a262e98.e00ce","type":"function","z":"33ed1960.36ce06","name":"Multiple returns array in array","func":"var msg1 = { payload:\"first message\" };\nvar msg2 = { payload:\"second message\" };\nvar msg3 = { payload:\"third message\" };\nvar msg4 = { payload:\"fourth message\" };\nreturn [msg1, [msg2, msg3], msg4];\n","outputs":"3","noerr":0,"x":380,"y":400,"wires":[["e0f3ff8e.9c9c7"],["a83396c.33ec068"],["755001ae.79ffa"]]},{"id":"d7a93198.facb2","type":"function","z":"33ed1960.36ce06","name":"Create JSON Object","func":"msg.payload = {\"a\" : { \"b\" : \"test\"}};\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":480,"wires":[["e0f3ff8e.9c9c7","a4bb5b26.993ef8"]]},{"id":"6a3b1ffe.d6c27","type":"function","z":"33ed1960.36ce06","name":"Create JSON String","func":"msg.payload = '{\"a\" : { \"b\" : \"test\"}}';\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":520,"wires":[["e0f3ff8e.9c9c7","a4bb5b26.993ef8"]]},{"id":"116e0f01.caf561","type":"function","z":"33ed1960.36ce06","name":"Create JSON String in msg.payload","func":"msg.payload = '{\"a\" : { \"b\" : \"test\"}}';\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":560,"wires":[["e0f3ff8e.9c9c7","f1250f19.7bdd4"]]},{"id":"b34e5e23.d3535","type":"function","z":"33ed1960.36ce06","name":"return string in object","func":"return {\"payload\" : \"Hello Coursera\"};","outputs":1,"noerr":0,"x":400,"y":120,"wires":[["e0f3ff8e.9c9c7"]]},{"id":"f1250f19.7bdd4","type":"json","z":"33ed1960.36ce06","name":"","x":590,"y":560,"wires":[["a83396c.33ec068","a4bb5b26.993ef8"]]},{"id":"a4bb5b26.993ef8","type":"function","z":"33ed1960.36ce06","name":"retrieve data from Object","func":"msg.payload = msg.payload.a.b;\nreturn msg;","outputs":1,"noerr":0,"x":766,"y":509,"wires":[["755001ae.79ffa"]]},{"id":"c81c9252.064c6","type":"inject","z":"33ed1960.36ce06","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":110,"y":220,"wires":[["43df442f.b0893c"]]},{"id":"fe63cc3b.135fa","type":"inject","z":"33ed1960.36ce06","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":110,"y":260,"wires":[["59d58c84.7bf1b4"]]},{"id":"75c5a788.538f48","type":"inject","z":"33ed1960.36ce06","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":340,"wires":[["5c68904e.aee6d"]]},{"id":"fe1a0b0e.59a668","type":"inject","z":"33ed1960.36ce06","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":400,"wires":[["6a262e98.e00ce"]]},{"id":"f002ef24.b0038","type":"inject","z":"33ed1960.36ce06","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":110,"y":480,"wires":[["d7a93198.facb2"]]},{"id":"4e07d3b5.50e20c","type":"inject","z":"33ed1960.36ce06","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":110,"y":520,"wires":[["6a3b1ffe.d6c27"]]},{"id":"66b6b5ea.13ec2c","type":"inject","z":"33ed1960.36ce06","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":560,"wires":[["116e0f01.caf561"]]},{"id":"da7be37e.9d746","type":"inject","z":"33ed1960.36ce06","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":110,"y":120,"wires":[["b34e5e23.d3535"]]},{"id":"d28a10c1.fa2dc","type":"function","z":"33ed1960.36ce06","name":"Status and logging functions","func":"node.status({text:\"started\"});\n\nsetTimeout(function() {\n    node.status({fill:\"red\",shape:\"ring\",text:\"stage 1\"});\n    \n    setTimeout(function() {\n        node.status({fill:\"green\",shape:\"dot\",text:\"stage 2\"});\n        node.error(\"This is an error\", {'payload' : 'Caught error'});\n        \n        setTimeout(function() {\n            node.error(\"Second error\");\n            node.status({});\n            node.send({'payload' : 'Completed'});\n        }, 5000);\n        \n    }, 5000);\n    \n}, 5000);\n\n//node.warn(\"Exiting node\");\nreturn;","outputs":1,"noerr":0,"x":380,"y":620,"wires":[["e0f3ff8e.9c9c7"]]},{"id":"1fd8e62d.2045ba","type":"inject","z":"33ed1960.36ce06","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":620,"wires":[["d28a10c1.fa2dc"]]},{"id":"3e977a18.b95d66","type":"catch","z":"33ed1960.36ce06","name":"Catch node","scope":["d28a10c1.fa2dc"],"x":430,"y":660,"wires":[["822fdf8c.46b1d"]]},{"id":"dc45817b.57214","type":"function","z":"33ed1960.36ce06","name":"return string","func":"return 'This is a string';","outputs":1,"noerr":0,"x":430,"y":80,"wires":[["e0f3ff8e.9c9c7"]]},{"id":"a0b17e04.5783e","type":"inject","z":"33ed1960.36ce06","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":80,"wires":[["dc45817b.57214"]]},{"id":"822fdf8c.46b1d","type":"debug","z":"33ed1960.36ce06","name":"entire msg","active":true,"console":"false","complete":"true","x":970,"y":560,"wires":[]}]