Examples/NodeREDSimpleWebpage.txt
[{"id":"8fdb7554.ca7f2","type":"http in","z":"33ed1960.36ce06","name":"/test","url":"/test","method":"get","swaggerDoc":"","x":101.5,"y":857.9999847412109,"wires":[["59128541.c5a3f4"]]},{"id":"5b798772.0e5ff8","type":"http response","z":"33ed1960.36ce06","name":"","x":612.5,"y":854.4000244140625,"wires":[]},{"id":"59128541.c5a3f4","type":"function","z":"33ed1960.36ce06","name":"","func":"msg.payload = \"Hello Coursera\";\nreturn msg;","outputs":1,"noerr":0,"x":353.5,"y":858,"wires":[["5b798772.0e5ff8"]]}]