Examples/NodeREDTimeFormat.txt
[{"id":"3cc290ab.5e1a38","type":"template","z":"33ed1960.36ce06","name":"format html page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>Drinks available on : {{payload.day}}</h1>\n\n<ul>\n{{#payload.drinks}}\n<li>{{drink}}</li>    \n{{/payload.drinks}}\n</ul>\n\n<h3>Specials:</h3> \n<hr>\n<ul>\n{{^payload.specials}}\nNone today, sorry      \n{{/payload.specials}}\n\n{{#payload.specials}}\n<li>{{drink}}</li>\n{{/payload.specials}}\n</ul>","x":449.20001220703125,"y":1061,"wires":[["98830bd7.fe12b"]]},{"id":"a064eb55.bd7118","type":"function","z":"33ed1960.36ce06","name":"Drinks","func":"msg.payload =   \n         {'day':'Monday',\n          'drinks':[{'drink': 'coffee'}, \n                    {'drink': 'tea'}, \n                    {'drink': 'orange juice'}]\n         };\nreturn msg;","outputs":1,"noerr":0,"x":269.20001220703125,"y":1041,"wires":[["3cc290ab.5e1a38"]]},{"id":"ca89d3e7.30d5b8","type":"function","z":"33ed1960.36ce06","name":"Specials","func":"msg.payload = \n         {'day':'Monday',\n          'drinks':[{'drink': 'coffee'}, \n                    {'drink': 'tea'}, \n                    {'drink': 'orange juice'}],\n          'specials':[{'drink': 'hot chocolate'}, \n                      {'drink': 'espresso'}]\n         };\nreturn msg;","outputs":1,"noerr":0,"x":259.20001220703125,"y":1081,"wires":[["3cc290ab.5e1a38"]]},{"id":"d7abb15d.e418f8","type":"http in","z":"33ed1960.36ce06","name":"/menu","url":"/menu","method":"get","swaggerDoc":"","x":89.20001220703125,"y":1041,"wires":[["a064eb55.bd7118"]]},{"id":"6da97f7.e0a64","type":"http response","z":"33ed1960.36ce06","name":"","x":789.2000122070312,"y":1061,"wires":[]},{"id":"dce0d25c.0d7618","type":"http in","z":"33ed1960.36ce06","name":"/specials","url":"/specials","method":"get","swaggerDoc":"","x":99.20001220703125,"y":1081,"wires":[["ca89d3e7.30d5b8"]]},{"id":"98830bd7.fe12b","type":"function","z":"33ed1960.36ce06","name":"setHTTPheader","func":"// If sending JSON data the content type is:\n//msg.headers={\"Content-Type\":\"application/json\"}\n\n// For HTML use the content type line below:\nmsg.headers={\"Content-Type\":\"text/html\"}\nreturn msg;","outputs":1,"noerr":0,"x":639.2000122070312,"y":1061,"wires":[["6da97f7.e0a64"]]}]