Examples/NodeREDRandom.txt
[{"id":"7badc044.9ae188","type":"random","z":"33ed1960.36ce06","name":"","low":"0","high":"10","inte":"true","x":271.5,"y":935.5999755859375,"wires":[["bebbaa78.95bf58"]]},{"id":"9f2ef1e7.63c9d","type":"inject","z":"33ed1960.36ce06","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":106.49998474121094,"y":936,"wires":[["7badc044.9ae188"]]},{"id":"bebbaa78.95bf58","type":"switch","z":"33ed1960.36ce06","name":"High Low","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"5","vt":"num"},{"t":"lt","v":"5","vt":"num"}],"checkall":"true","outputs":2,"x":438.5,"y":937,"wires":[["2c5a0624.5a118a"],["c95fca3e.c8ca28"]]},{"id":"2b4c0721.bb8ee8","type":"debug","z":"33ed1960.36ce06","name":"output number","active":true,"console":"false","complete":"payload","x":856.5,"y":936.2000122070312,"wires":[]},{"id":"2c5a0624.5a118a","type":"template","z":"33ed1960.36ce06","name":"high","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Number {{payload}} is a high number","x":628.4999847412109,"y":902.3999938964844,"wires":[["2b4c0721.bb8ee8"]]},{"id":"c95fca3e.c8ca28","type":"template","z":"33ed1960.36ce06","name":"low","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Number {{payload}} is a low number","x":624.4999847412109,"y":960.3999938964844,"wires":[["2b4c0721.bb8ee8"]]}]